
a:link {
  color: white;
  margin-right: 10px;
}

.navbar-inverse {
   background-color: #383E4C;
   border-color: #383E4C;
}
.navbar-nav>li {
   display: inline-block;
   padding: 10px;
}
.navbar-inverse .navbar-nav>li>a {
    background: #383E4C none repeat scroll 0 0;
    border: 1px solid #646d7c;
    color: #fff ;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

.header-content h1 {
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}
.header-content h4 {
  color: #fff;
  font-size: 25px;
  text-shadow: 1px 1px #333;
}

header {
  padding: 235px 0;
  background-image: url(../_images/bg-1.jpg);
  background-position: center center;
}

.green-text { color: #178A27; }
.green-btn {
  padding: 10px 30px;
  background: #178A27;
}

.about-section {
  padding-top: 70px;
}

.feature-content {
  background: #F2F2F2;
  padding-bottom: 40px;
}

.blue-text { color: #1686C1; }
.blue-btn {
  padding: 10px 30px;
  background: #1686C1;
}
.red-btn {
  padding: 10px 30px;
  background: #852406;
}
.red-text { color: #852406; }
.green-btn:hover { background: #449D44; }
.blue-btn:hover { background: #31B0D5; }
.red-btn:hover { background: #C9302C; }

.blog-area {
  padding-top: 70px;
}

.services-section {
  background-image: url("../_images/bg-2.jpg");
  background-position: center center;
}

.services {
  margin:65px 0px 85px;
}

.testimonial-area {
  padding-top: 70px;
}
