
header {
  background: #383E4C;
  height: 10%;
}

a:link {
  color: white;
  margin-right: 10px;
}

.navbar-inverse {
   background-color: #383E4C;
   border-color: #383E4C;
}
.navbar-nav>li {
   display: inline-block;
   padding: 10px;
}
.navbar-inverse .navbar-nav>li>a {
    background: #383E4C none repeat scroll 0 0;
    border: 1px solid #646d7c;
    color: #fff ;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
